:root {
    --background: #a2abac;
    --text: #38264d;
    --high: #6d2013;
    --font: 'Times New Roman', Times, serif;
  }
  
  * {
    box-sizing: border-box;
    font-family: var(--font);
    text-align: center;
  }
  
  body {
    font-size: 65%;
    margin: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    justify-content: flex-start;
  }
  
  header {
    font-size: 2.5em;
    padding: 20px;
    background: var(--background);
    color: var(--text);
    border: solid 30px var(--high);
  }
  
  main {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  
  section {
    flex: 0 auto;
    padding: 8px;
    margin-top: 50px;
    background-color: white;
    border-radius: 8px;
  }
  
  button {
    background: var(--high);
    border-radius: 10px;
    cursor: pointer;
    font-size: 20px;
    padding: 15px;
    transition-duration: 0.15s;
    margin-top: 0.6em;
    display: flex;
    justify-content: space-around;
  }
  
  button:hover{
    color: goldenrod;
  }
  
  input [type="text"] {
    display: block; 
    font-size: 100%;
  }
  
  .hide {
    display: none;
  }
  
  .options button {
    display: block
  }
  
  .score {
    position: absolute;
    justify-content: space-between;
    margin-top: 15px;
  }
  
  #questions{
    font-size: 18px;
  }